force-app/main/default/flows/Clock_Out_Reminder_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Employee__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Clock_Out_Reminder_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Clock_Out_Reminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Employee__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Forgot_clock_out</name>
        <label>Forgot clock-out</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clock_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attendance__r.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Clock out</label>
        </rules>
    </decisions>
    <description>with link</description>
    <environments>Default</environments>
    <interviewLabel>Clock-Out Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clock-Out Reminder Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Forgot_clock_out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clock_Out_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Clock_In_Out__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-14</startDate>
            <startTime>18:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Clock_Out_Reminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Employee__r.Name}&lt;/p&gt;&lt;p&gt;Hope you had a great day! It looks like you might have forgotten to clock out for today. Could you please take a moment to log your end time in the system?&lt;/p&gt;&lt;p&gt;If you encountered any issues or have questions, feel free to reach out.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Label.HRMS_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Clock_Out_Reminder_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Quick Reminder For Clock-Out.</text>
    </textTemplates>
</Flow>
