force-app/main/default/flows/Employee_Project_Should_not_same.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Existing_Project</name>
        <label>Existing Project</label>
        <locationX>270</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>alreadyExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Record_Loop</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Duplicate_record_error</name>
        <label>Duplicate record error</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <customErrorMessages>
            <errorMessage>Project already exist.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Project_Name</name>
        <label>Check Project Name</label>
        <locationX>402</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Employee_Record_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isProject_already_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Record_Loop.Project_Name__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Name__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Project</targetReference>
            </connector>
            <label>isProject already exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>isExisting_Record</name>
        <label>isExisting Record</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>alreadyExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_record_error</targetReference>
            </connector>
            <label>isExist</label>
        </rules>
    </decisions>
    <description>Employee Project Should not same</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Employee Project Should not same {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Project Should not same</label>
    <loops>
        <name>Employee_Record_Loop</name>
        <label>Employee Record Loop</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Employee_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Project_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isExisting_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Project</name>
        <label>Get Employee Project</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Record_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee_Project</targetReference>
        </connector>
        <object>Employee_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>alreadyExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
