force-app/main/default/flows/Update_Total_Hour_based_on_Actual_Hour.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Actual_hour_and_Project_change</name>
        <label>Actual hour and Project change</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actual_Hours__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <description>v-7</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NumberValues</name>
        <dataType>Number</dataType>
        <expression>Case({!$Record.Actual_Hours__c},&apos;0.25&apos; , 0.25 , &apos;0.5&apos;, 0.5, &apos;0.75&apos;, 0.75, &apos;1&apos;, 1, &apos;1.25&apos;, 1.25, &apos;1.5&apos;, 1.5, &apos;1.75&apos;, 1.75, &apos;2&apos;, 2, &apos;2.25&apos;, 2.25, &apos;2.5&apos;, 2.5, &apos;2.75&apos;, 2.75, &apos;3&apos;, 3, &apos;3.25&apos;, 3.25, &apos;3.5&apos;, 3.5, &apos;3.75&apos;, 3.75, &apos;4&apos;, 4, &apos;4.25&apos;, 4.25, &apos;4.5&apos;, 4.5, &apos;4.75&apos;, 4.75, &apos;5&apos;, 5, &apos;5.25&apos;, 5.25, &apos;5.5&apos;, 5.5, &apos;5.75&apos;, 5.75, &apos;6&apos;, 6, &apos;6.25&apos;, 6.25, &apos;6.5&apos;, 6.5, &apos;6.75&apos;, 6.75, &apos;7&apos;, 7, &apos;7.25&apos;, 7.25, &apos;7.5&apos;, 7.5, &apos;7.75&apos;, 7.75, &apos;8&apos;, 8, &apos;8.25&apos;, 8.25, &apos;8.5&apos;, 8.5, &apos;8.75&apos;, 8.75, &apos;9&apos;, 9, &apos;9.2&apos;, 9.25 ,&apos;9.5&apos;, 9.5, &apos;9.75&apos;, 9.75, &apos;10&apos;, 10, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Total Hour based on Actual Hour {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Hour based on Actual Hour</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Total_Hour_based_on_Actual_hour</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Name__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Hour_based_on_Actual_hour</name>
        <label>Update Total Hour based on Actual hour</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Actual_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>NumberValues</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actual_hour_and_Project_change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Actual_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Timesheet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>actualHour</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actualtoTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
