force-app/main/default/flows/Work_from_home_Bell_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Custom Notification for Admin about Work from home Request</description>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Work_From_Home_Records_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>WorkFromHomeVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Subhash Panchani is Requesting Approval For the Work-From-Home</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationIfPendding</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Custom Notification for WFH Record Approved</description>
        <name>Custom_Notification_for_WFH_Record_Approved</name>
        <label>Custom Notification for WFH Record Approved</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Work_From_Home_Records_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>WorkFromHomeVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Work From Home Request Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationIfApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Custom Notification for WFH Record Cancelled</description>
        <name>Custom_Notification_for_WFH_Record_Cancelled</name>
        <label>Custom Notification for WFH Record Cancelled</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Work_From_Home_Records_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>WorkFromHomeVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Work From Home Request Cancelled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationIfCancelled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Custom Notification for WFH Record Rejected</description>
        <name>Custom_Notification_for_WFH_Record_Rejected</name>
        <label>Custom Notification for WFH Record Rejected</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Work_From_Home_Records_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>WorkFromHomeVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Work from home Request Cancelled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationIfRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Set Bell Assignment</description>
        <name>Set_Bell_Assignment</name>
        <label>Set Bell Assignment</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>WorkFromHomeVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Employee__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sent_Bell_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Sent Bell Notification</description>
        <name>Sent_Bell_Notification</name>
        <label>Sent Bell Notification</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification</targetReference>
            </connector>
            <label>if Pending</label>
        </rules>
        <rules>
            <name>if_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_for_WFH_Record_Cancelled</targetReference>
            </connector>
            <label>if Cancelled</label>
        </rules>
        <rules>
            <name>is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_for_WFH_Record_Approved</targetReference>
            </connector>
            <label>is Approved</label>
        </rules>
        <rules>
            <name>if_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_for_WFH_Record_Rejected</targetReference>
            </connector>
            <label>if Reject</label>
        </rules>
    </decisions>
    <description>Work from home Custom Bell Notification for Admin v12</description>
    <environments>Default</environments>
    <formulas>
        <description>CustomNotificationIfApproved</description>
        <name>CustomNotificationIfApproved</name>
        <dataType>String</dataType>
        <expression>&apos; Work From Home  :   &apos; +  {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <description>CustomNotificationIfCancelled</description>
        <name>CustomNotificationIfCancelled</name>
        <dataType>String</dataType>
        <expression>&apos; Work From Home  :   &apos; +  {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <description>CustomNotificationIfPendding</description>
        <name>CustomNotificationIfPendding</name>
        <dataType>String</dataType>
        <expression>&apos; Work From Home: &apos; &amp; {!$Record.Name} &amp; 
&apos;,      Applied Date: &apos; &amp; TEXT({!$Record.Applied_WFH_Date__c}) &amp; 
&apos;,      Employee: &apos; &amp; {!$Record.Employee__r.Name} &amp; 
&apos;,       Reason: &apos; &amp; {!$Record.Reason__c}</expression>
    </formulas>
    <formulas>
        <description>CustomNotificationIfRejected</description>
        <name>CustomNotificationIfRejected</name>
        <dataType>String</dataType>
        <expression>&apos; Work From Home  :   &apos; +  {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Work from home Bell Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work from home Bell Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Work From Home Records Notification</description>
        <name>Work_From_Home_Records_Notification</name>
        <label>Work From Home Records Notification</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Bell_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Work_From_Home_Records_Notification</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Work_From_Home__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomPendingNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&apos; Work From Home&amp;nbsp;:&amp;nbsp;&amp;nbsp;&apos; +&amp;nbsp;{!$Record.Name}&amp;nbsp;&amp;nbsp;&amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;+ &apos; Applied Date&amp;nbsp;: &apos;&amp;nbsp;+TEXT( {!$Record.Applied_WFH_Date__c} )&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;lt;br&amp;gt;&lt;/span&gt;+ &apos;Employee&amp;nbsp;: &apos; +{!$Record.Employee__r.Name}&amp;nbsp;&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;lt;br&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;+ &apos; Reason&amp;nbsp;:&amp;nbsp;&apos; + {!$Record.Reason__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>WorkFromHomeVar</description>
        <name>WorkFromHomeVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
